<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h2>Users list!</h2>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>



<table>
    <tr>
        <th>Email</th>
        <th>Name</th>
        <th>Action</th>
    </tr>
        <tr th:each="user : ${usersList}">
            <td th:text="${user.username}"> </td>
            <td th:text="${user.userpassword}"></td>
            <td>
                <form action="/update" method="get">
                    <input type="number" hidden name="id" th:value="${user.id}"/>
                    <input type="submit" value="Update"/>
                </form>
                <form action="/delete" method="get">
                    <input type="number" hidden name="id" th:value="${user.id}"/>
                    <input type="submit" value="Delete "/>
                </form>
            </td>
        </tr>
</table>
<br/>
<br/>
<form action="/logout">
    <input type="submit" value="Logout">
</form>
</body>
</html>
